<% for(var i = 0; i < products.length; i++) { %>
<li class="col-sm-6">
	<div class="col-md-4">
		<a href="javascript:void(0)"><img src="img/<%list[i].id%>.jpg" alt="" class="img-responsive"></a>
	</div>

	<div class="product-description-holder col-md-8">
		<h2><a href="javascript:void(0)"><%list[i].title%></a></h2>

		<p>
			<b>Item's description:</b><%list[i].description%>
		</p>
	</div>
</li>
<% } %>



<li class="col-sm-6">
	<div class="col-md-4">
		<a href="javascript:void(0)"><img src="img/02.jpg" alt="" class="img-responsive"></a>
	</div>

	<div class="col-md-8">
		<h2><a href="javascript:void(0)">Item's title</a></h2>

		<p>
			<b>Item's description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			eiusmod
			tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco
			laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
</li>
<li class="col-sm-6">
	<div class="col-md-4">
		<a href="javascript:void(0)"><img src="img/03.jpg" alt="" class="img-responsive"></a>
	</div>

	<div class="col-md-8">
		<h2><a href="javascript:void(0)">Item's title</a></h2>

		<p>
			<b>Item's description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			eiusmod
			tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco
			laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
</li>
<li class="col-sm-6">
	<div class="col-md-4">
		<a href="javascript:void(0)"><img src="img/04.jpg" alt="" class="img-responsive"></a>
	</div>

	<div class="col-md-8">
		<h2><a href="javascript:void(0)">Item's title</a></h2>

		<p>
			<b>Item's description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			eiusmod
			tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco
			laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
</li>
<li class="col-sm-6">
	<div class="col-md-4">
		<a href="javascript:void(0)"><img src="img/05.jpg" alt="" class="img-responsive"></a>
	</div>

	<div class="col-md-8">
		<h2><a href="javascript:void(0)">Item's title</a></h2>

		<p>
			<b>Item's description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			eiusmod
			tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco
			laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
</li>
<li class="col-sm-6">
	<div class="col-md-4">
		<a href="javascript:void(0)"><img src="img/06.jpg" alt="" class="img-responsive"></a>
	</div>

	<div class="col-md-8">
		<h2><a href="javascript:void(0)">Item's title</a></h2>

		<p>
			<b>Item's description:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
			eiusmod
			tempor
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco
			laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
</li>