<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>

</head>
<body>
<div id="header">
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0);"><img alt="Brand" src="img/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Главная<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <!--<form class="navbar-form navbar-left navbar-input-group" role="search">-->
                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Enter product name">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Search</button>-->
                <!--</form>-->
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="javascript:void(0)"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
                    </li>
                    <li><a href="javascript:void(0);"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    -->
                    <li><a href="javascript:void(0);"><span class="glyphicon glyphicon-earphone"></span> (044) 123-44-55</a></li>
                    <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart"></span> Корзина <span id="basket"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- / Navbar -->
</div>
<div class="container" id="content">

    <div class="row">

        <!-- Featured Products -->
        <div id="featured-product-carousel" class="carousel slide" data-pause="hover" data-wrap="true"
             data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#featured-product-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#featured-product-carousel" data-slide-to="1" class=""></li>
                <li data-target="#featured-product-carousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/promo-product-1.jpg" alt="ABC Auction Deals" class="img-responsive center-block">
                </div>
                <div class="item">
                    <img src="img/promo-product-2.jpg" alt="ABC Auction Deals" class="img-responsive center-block">
                </div>
                <div class="item">
                    <img src="img/promo-product-3.jpg" alt="ABC Auction Deals" class="img-responsive center-block">
                </div>
            </div>
            <a class="left carousel-control" href="#featured-product-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#featured-product-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <!-- / Featured Products -->

        <br/>
        <ol class="breadcrumb">
            <li><a href="#">Главная</a></li>
            <li><a href="#">каталог</a></li>
            <li class="active">спортпит</li>
        </ol>

    </div>
    <br/>
    <div class="row">
        <div id="list-group-category" class="col-xs-12 col-sm-4 col-md-3	col-lg-3 left-menu">
            <script type="text/template" id="category">
                <div class="list-group">
                    <a href="/category" class="list-group-item list-group-item-info">Категории</a>
                    <% for(var i = 0; i < cat.length; i++) { %>
                    <a href="/<%=cat[i]%>" class="list-group-item"><%=cat[i]%></a>
                    <% } %>
                </div>
            </script>
            <script type="text/template" id="brand">
                <div class="list-group">
                    <a href="/<%=brand[i]%>" class="list-group-item list-group-item-info">Бренды</a>
                    <% for(var i = 0; i < brand.length; i++) { %>
                    <a href="/<%=brand[i]%>" class="list-group-item"><%=brand[i]%></a>
                    <% } %>
                </div>
            </script>
        </div>
        <div id="main-content" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <!-- Товары use template LoDash!!! -->
            <script type="text/template" id="products">
                <ul class="list-unstyled">
                    <% for(var i = 0; i < list.length; i++) { %>
                    <li class="col-sm-6 product">
                        <div class="col-md-4">
                            <div><a href="javascript:void(0)"><img src="img/<%=list[i].id%>.jpg" alt="" class="img-responsive"></a></div>
                            <div>
                                <span class="price"><%=list[i].price%> <%=list[i].currency[0]%></span>
                            </div>
                            <!-- Привязываем кнопку с id товара-->
                            <div>
                                <input type="hidden" name="goods" value=<%=list[i].id%>>
                                <button class="btn btn-success product-<%=list[i].id%>"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</button>
                            </div>
                            <!-- / Привязываем кнопку с id товара-->
                        </div>
                        <div class="product-description-holder col-md-8">
                            <h3><a href="javascript:void(0)"><%=list[i].title%></a></h3>

                            <p>
                                <b>Категория: </b><%=list[i].category%>
                            </p>
                            <p>
                                <b>Производитель: </b><%=list[i].brand%>
                            </p>
                            <p>
                                <b>Item's description: </b><%=list[i].description%>
                            </p>
                        </div>
                    </li>
                    <% } %>

                </ul>
            </script>
            <!-- / Товары use template LoDash!!! -->

            <!--Пагинация-->
            <nav class="pagination-chepon">
                <ul class="pagination pagination-sm">
                    <li>
                        <a href="#" aria-label="предыдущая">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                        <a href="#" aria-label="Следующая">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- / Пагинация-->
        </div>
    </div>

</div>
<div class="container">
    <!-- Footer -->
    <footer class="text-center footer-chepon">
        <br/>
        <a href="javascript:void(0)">Главная</a> |
        <a href="javascript:void(0)">Каталог</a> |
        <a href="javascript:void(0)">Доставка</a> |
        <a href="javascript:void(0)">О нас</a> |
        <a href="javascript:void(0)">Контакты</a>
        <br/><br/>
    </footer>
    <!-- / Footer -->
</div>
<script src="js/custom.js"></script>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>